.container {
  @apply w-full flex flex-col my-14;
}

.titleGroup {
  @apply flex flex-col gap-4 justify-between;
  .title {
    @apply text-primary w-full flex text-xl font-medium italic;

    span {
      @apply m-auto;
    }
  }
  .subtitle {
    @apply text-neutral w-full flex text-4xl font-bold uppercase tracking-tight;
    span {
      @apply m-auto;
    }
  }

}

.sliderGroup {
  @apply h-fit mx-10 flex-grow flex gap-2 justify-end;
}

.slider {
  @apply h-8 w-8 bg-green-400 flex;
  &,*:hover {
    @apply cursor-pointer;
  }
  span {
    @apply m-auto;
  }
}

.dealGroup {
  @apply mx-10 my-6 flex-grow h-96 relative overflow-x-hidden;

  @for $i from 0 through 10 {
    .position#{$i} {
      position: absolute;
      margin-right: 20px;
      left: calc((100% + 20px) * ($i - 2) / 6);
      @if ($i==0 or $i==9) {
        @apply duration-0
      } @else {
        @apply duration-500
      }
    }
  }
}

